.main {
    background-color: #06589D;
    color: aqua;
}

.edu, .work {
    border-style: dashed;
    padding-top: 20px;
}

.work {
    margin-top: 30px;
}

.image {
    display: flex;
    align-items: flex-start;

}
.image:hover {

}

.education {
    border-left: 30px;
    border-bottom: #06589D;
}

li {
    padding-top: 10px;
}